/* add spacing around social links */
ul.icons li {padding-right:0;margin:0 0.5em 0.5em 0;}

/* remove bullets from contact options */
#contact ul {list-style-type:none;}

/* allow horizontal spacing for inline icons */
.fa {margin:0 0.5em 0 0.5em;}

/* adjust article widths */
article#about {width:40rem;}
article#work {width:52rem;}
article#play {width:52rem;}
article#contact {width:36rem;}